*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

h1{
    color: rgb(7, 91, 165);

}


#frmBuscaFilme{
    margin: 20px 15px;
    
}

/* #frmBuscaFilme label{

} */
#frmBuscaFilme label,button{
    margin-right: 12px;
    border-radius: 9px;
    padding: 5px;

}

#frmBuscaFilme input{
    border-radius: 9px;
    padding: 5px;
}

#resultado{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}